
<div id="back">
<div id="front">


<p id="notice"><%= notice %></p>

<% if current_user %>
  Signed in as <%= current_user.name %> | <%= link_to "Logout", '/logout' %>
<% else %>
  <%= link_to 'Login', '/login' %> | <%= link_to 'Signup', '/signup' %>
<% end %>

<div class="container">
  <div id="posts_board">
<h1>Posts</h1>

<table id="postings">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Github</th>
      <th>Last Comment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr id="individual_posts">
        <td><%= post.title %></td>
        <td><%= post.description %></td>
        <td><%  post.github %>
        <td><%= post.comments.last.try(:body) %></td>
        <td class="mod"><%= link_to 'Show', post %></td>
        <td class="mod"><%= link_to 'Edit', edit_post_path(post) %></td>
        <td class="mod"><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</div>
</div>

<%= link_to 'New Post', new_post_path %>

</div>
</div>
